.container{
    padding: 10px;
    width: 90%;
    display: flex;
    margin: 30px auto;
    flex-direction: column;   
}
.filter-form{
    display: flex;
    
}
.mat-form-field {
    margin-right: 12px;
  }